<h1 ><b>MANUALES DE USUARIOS</b></h1>
 <br>
<div class="col-sm-6 col-md-6 col-lg-4 ">
  <div class="row" *ngFor="let manual of manualUModel">
      <div class="panel-group col-sm-12 col-md-12 col-lg-12" >    
      <br>
        <h3 style="text-align: center"> {{manual.titulo}}</h3> 
      </div>
        <div class="col-sm-12 col-md-12 col-lg-12">   
    <div class="panel panel-info " >  

    <table class="table" >
            <thead class="thead-info">
                <tr>
                  <th scope="col" style="color:black; width:80%; white-space: normal;"><font face="verdana" size="2px;"><b>NOMBRE</b></font></th>
                  <th scope="col" style="color:black; width:40%"><font face="verdana" size="2px;"><b>ACCIONES</b></font></th>

                </tr>
            </thead>
            <tbody *ngFor="let item2 of manual.documentos row">
                <tr>
                  <td><a style="cursor: pointer;" ><font face="verdana" size="2px">{{item2.ndocumento}}</font></a></td>
               
                
                   <td style="padding-top: 2px;">
                    <button class="btn btn-default" ><span class="glyphicon glyphicon-eye-open" style="font-size: 14px;" (click)="abrirPdf(item2.url)" ></span></button>
                  </td>

                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
</div> 
<div class="col-sm-6 col-md-6 col-lg-8 ">
   <h1 ><b>VISTA PREELIMINAR</b></h1>
      <button class="btn btn-default" ><span class="glyphicon glyphicon-menu-left"  style="font-size: 18px;"(click)="disminuir()" ></span></button>
   <button class="btn btn-default" ><span class="glyphicon glyphicon-menu-right" style="font-size: 18px;" (click)="aumentar()" ></span></button>
   <button class="btn btn-default" ><span class="glyphicon glyphicon-zoom-in" style="font-size: 18px;" (click)="zoom2()" ></span></button>
   <button class="btn btn-default" ><span class="glyphicon glyphicon-zoom-out" style="font-size: 18px;"  (click)="zoom1()" ></span></button>
    <pdf-viewer [src]='pdfSrc'
       [render-text] = 'true'
       [page]   = pag
       [stick-to-page]="true"
       [show-all] = 'false'
       [zoom]= zom
       style='display:block;'
    >
    </pdf-viewer>
</div>


  