.href-panel {
    background-color: #337ab7  !important; 
    color : white !important; 
    cursor: pointer;
}


.table tbody tr td {
    font-size: 12px;
}

.table thead {
    background: linear-gradient(45deg, #004e91, #004e91a3);
    color: #FFF;
}