 <div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <img src="./assets/images/intranet.png">
          <br>
          <form [formGroup]="ingresoForm" (ngSubmit)="onIngreso()">
            <div class="input-group mb-3 form-group">
              <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
             </div>
             <input  formControlName="login" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; ingresoForm.controls.login.errors }" [(ngModel)] = "ingreso.login" type="text"  name="login" class="form-control" id="login"required placeholder="Usuario" aria-label="Usuario" aria-describedby="basic-addon1">
             <error-message [control]="ingresoForm.controls.login" *ngIf="submitted"></error-message>
           </div>
           <br>
           <div class="input-group mb-3 form-group ">
            <div class="input-group-prepend">
             <span class="input-group-text" id="basic-addon1"><i class="glyphicon glyphicon-lock"></i></span>
           </div>
           <input formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; ingresoForm.controls.password.errors }" [(ngModel)] = "ingreso.password" name="password" class="form-control" id="password"required type="password"  placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1">
           <error-message [control]="ingresoForm.controls.password" *ngIf="submitted"></error-message>
         </div>
         <br>
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" >Iniciar Sesión</button>
      </form>
    </div>
  </div>
</div>
</div>
</div>



