<div *ngFor="let item of manuales">
    <div class="list-group col-md-8">
        <div *ngFor="let item2 of item.paneles" class="col-md-8">  
            <a  class="list-group-item list-group-item-action active href-panel"><b>{{item2.nombre}}</b></a>
                   <div *ngFor="let item3 of item2.contenidos"> 
                <a href="{{item3.link}}" class="list-group-item list-group-item-actionhref-panel">{{item3.nombre}}<span>{{item3.descripcion}}</span></a>
             </div>
             
            <br>
        </div>
    </div>
    <br>
   </div>


   