<nav class="navbar navbar-expand-lg navbar-light menu-colors">
   <img src="assets/images/logotran.png" style="height: 50px; filter: brightness(7); ">
   <!---->
        <!--<a class="navbar-brand" routerLink="/inicio">Intranet</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/inicio">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Documentos Iso
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/manuales">FINANCIERA Y CONTABLE</a>
                    <a class="dropdown-item" routerLink="/unidades">SISTEMAS</a>
                    <a class="dropdown-item" routerLink="/fabricantes">TALENTO HUMANO</a>
                    <a class="dropdown-item" routerLink="/fabricantes">VENTAS</a>
                    <a class="dropdown-item" routerLink="/fabricantes">CALIDAD</a>
                    <a class="dropdown-item" routerLink="/fabricantes">FARMACIAS</a>
                    <a class="dropdown-item" routerLink="/fabricantes">COMPRAS</a>
                    <a class="dropdown-item" routerLink="/fabricantes">CONTROL INTERNO</a>
                    <a class="dropdown-item" routerLink="/fabricantes">GERENCIA</a>
                    <a class="dropdown-item" routerLink="/fabricantes">SERVICIO AL CLIENTE</a>
                    <a class="dropdown-item" routerLink="/fabricantes">LOGISTICA</a>
                    <a class="dropdown-item" routerLink="/fabricantes">GESTIÓN TECNICA</a>
                    <a class="dropdown-item" routerLink="/fabricantes">SEGURIDAD</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/manuales">Manuales de Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/fabricantes">Procesos Cosmitet</a>
            </li>
        </ul>
    </div>
    <ul class="nav navbar-nav navbar-left">
        <li><a class="nav-link" routerLink="#   ">TU IP {{ip}}</a></li>
        <li><a class="nav-link" routerLink="/fabricantes"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a class="nav-link" routerLink="/fabricantes"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
</nav>

<div class="container-full">
    <div class="row">
        <div class="col-sm-12">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
<br>
<!--<footer class="container-fluid text-center">
    <p>Copyright 2019 by Refsnes Data. All Rights Reserved.</p>
</footer>-->
<!----“El Trabajo en Equipo es el secreto que hace de la gente común conseguir resultados poco comunes.”--->