<div class="container-fluid text-center ">    
    <div class="row content">

        <div class="col-sm-2 sidenav1">
            <div  class="delgado">
                <div class="card">
                    <img src="assets/images/nube.svg" alt="Avatar" style="width:30%; margin:0 auto" class="card-img-top">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <b class="max-temp">{{name}}</b>
                            <br>
                            <strong> {{temp}}°C</strong>
                            <br>
                            <span>
                                <b class="max-temp">
                                    H: {{humidity}}%
                                </b>
                            </span>
                        </li>
                    </ul>
                    <div class="card-body" >
                        <div>
                            <img src="assets/images/eeuu.png" alt="Avatar" style="width:30%; margin:0 auto" class="card-img-top"><b>Dólar</b>
                        </div>
                        <strong>$ {{precioDolar}}</strong>
                    </div>
                    <div class="card-body" >
                        <div class="col-md-12">               
                            <div id="carousel-pager" class="carousel slide " data-ride="carousel" data-interval="1000">                                
                                <br>
                                <br>
                                <br>
                                <div class="carousel-inner vertical"  *ngFor="let item of publicidad">
                                     <div class="{{item.active}} item" data-target="#carousel-main">
                                        <div class="{{item.id}}">
                                            <p><b class="max-temp">{{item.titulo}}</b></p>
                                            <p><b class="max-temp">{{item.asunto}}</b></p>
                                            <p><u><b class="max-temp">{{item.propietario}}</b></u></p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <a class="left carousel-control" href="#carousel-pager" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-pager" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="widget">{{date | date:'dd-MM-yyyy'}}</div>
                        <div class="widget">{{date | date:'HH:mm:ss'}}</div>
                    </div>
                </div>
            </div>

<br>
            <!--ENLACES INICIA-->
<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
  <div class="card border-primary">
    <div class="card-header  color" role="tab" id="headingOne1">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
        aria-controls="collapseOne1">
        <h5 class="mb-0 text-white" style="font-family: sans-serif bold; font-size: 16px;">ENLACES DUANA <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>
    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
      data-parent="#accordionEx">
      <div class="card-body enlaces">
       <a class="enlacesLetters" href="http://10.0.2.216:3002/dusoft_duana/home/#/Dashboard">DUSOFT DUANA -LOCAL</a><br>
       <a class="enlacesLetters" href="">DUSOFT DUANA -EXTERNO</a><br>
       <a class="enlacesLetters" href="http://10.0.2.237/APP/DUSOFT_DUANA/index.php">DUSOFT DUANA ANTERIOR -LOCAL</a><br>
       <a class="enlacesLetters" href="">DUSOFT DUANA ANTERIOR -EXTERNO</a><br>
       <a class="enlacesLetters" href="http://10.0.2.216:8080/jasperserver/login.html">JASPER DUANA -LOCAL</a><br>
       <a class="enlacesLetters" href="">JASPER DUANA -EXTERNO</a><br>
       <a class="enlacesLetters" href="">DUSOFT FINANCIERO DUANA -LOCAL</a><br>
       <a class="enlacesLetters" href="">DUSOFT FINANCIERO DUANA -EXTERNO</a><br>
       <a class="enlacesLetters" href="">JASPER FINANCIERO DUANA -LOCAL</a><br>
       <a class="enlacesLetters" href="">JASPER FINANCIERO DUANA -EXTERNO</a><br>
       <a class="enlacesLetters" href="">MESA DE AYUDA DUANA -LOCAL</a><br>
       <a class="enlacesLetters" href="">MESA DE AYUDA DUANA -EXTERNA</a><br>
       <a class="enlacesLetters" href="">DUSOFT TALENTO HUMANO CALIFICACIONES -LOCAL</a><br>
       <a class="enlacesLetters" href="">DUSOFT TALENTO HUMANO CALIFICACIONES -EXTERNA</a><br>
      </div>
    </div>

  </div>
 <br>
  <div class="card border-primary">
    <div class="card-header color" role="tab" id="headingTwo2">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
        aria-expanded="false" aria-controls="collapseTwo2">
        <h5 class="mb-0 text-white" style="font-family: sans-serif bold; font-size: 16px;">ENLACES COSMITET<i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>
    <div id="collapseTwo2" class="collapse show" role="tabpanel" aria-labelledby="headingTwo2"
      data-parent="#accordionEx">
      <div class="card-body enlaces">
       <a  class="enlacesLetters" href="http://estado.cosmitet.net/">DUSOFT AFILIACIONES</a><br>
       <a  class="enlacesLetters" href="http://dusoft.cosmitet.net/dusoft/">DUSOFT COSMITET</a><br>
       <a  class="enlacesLetters" href="http://helpdesk.cosmitet.net/glpi/">MESA DE AYUDA COSMITET</a><br>
       <a  class="enlacesLetters" href="http://jasper.cosmitet.net:8080/jasperserver/login.html">JASPER COSMITET -LOCAL</a><br>
       <a  class="enlacesLetters" href="http://200.29.238.236:8080/jasperserver/login.html">JASPER COSMITET -EXTERNO</a><br>
       <a  class="enlacesLetters" href="http://intranet.cosmitet.net/">INTRANET  COSMITET</a><br>
     </div>
    </div>

  </div>
  <br>
  <div class="card border-primary">
    <div class="card-header color" role="tab" id="headingThree3">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
        aria-expanded="false" aria-controls="collapseThree3">
        <h5 class="mb-0 text-white" style="font-family: sans-serif bold; font-size: 16px;">OTROS ENLACES<i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>
    <div id="collapseThree3" class="collapse show" role="tabpanel" aria-labelledby="headingThree3"
      data-parent="#accordionEx">
      <div class="card-body enlaces">
       <a  class="enlacesLetters" href="http://10.60.1.11/dusoft/">DUSOFT PEÑITAS</a><br>
       <a  class="enlacesLetters" href="">JASPER PEÑITAS PEÑITAS</a><br>
       <a  class="enlacesLetters" href="">DUSOFT CARTAGENA</a><br>
       <a  class="enlacesLetters" href="">JASPER CARTAGENA</a><br>
       <a  class="enlacesLetters" href="http://dusoft.dumianmedical.net/DUMIAN/">DUSOFT DUMIAN</a><br>
       <a  class="enlacesLetters" href="http://jasper.cosmitet.net:8090/jasperdumian/login.html">JASPER DUMIAN -LOCAL</a><br>
       <a  class="enlacesLetters" href="http://200.29.237.211:8090/jasperdumian/login.html">JASPER DUMIAN -EXTERNO</a><br>
      </div>
    </div>

  </div>
</div><!--ENLACES FIN -->
        </div> <!---sidenav1---->


        <div class="col-sm-8 text-left"> 
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="assets/images/farmacias/bosque.jpg" alt="Los Angeles">
                    </div>

                    <div class="item">
                        <img src="assets/images/farmacias/magisteriocali.jpg" alt="Los Angeles">
                       <!---<video src="assets/images/videos/dumian.mp4" type="video/mp4" autoplay controls></video>-->
                    </div>

                    <div class="item">
                        <img src="assets/images/farmacias/puertos.jpg" alt="New York">
                    </div>
                    <div class="item">
                        <img src="assets/images/farmacias/santander.jpg" alt="New York">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            



            <div  class='row col-sm-12'>
                <br>
                <br>
                <div class="alert alert-default"  style="background: rgba(60, 178, 237, 0.2); margin-bottom:0px;border-radius: 10px 10px 0px 0px ;">
                     <h4 class="alert-heading" style="font-size: 25px; font: oblique bold;"><b>¿QUIENES SOMOS?</b></h4>
                        <hr>
                        <p style="font-size: 16px;">DUANA Y CIA LTDA tiene como actividad principal la comercialización y
                        distribución de medicamentos y dispositivos médicos, abasteciendo las necesidades de nuestros
                        clientes institucionales, mayoristas y minoristas dentro de los cuales se encuentran los
                        usuarios de entidades hospitalarias, empresas promotoras de salud e instituciones prestadoras
                        de Servicio de Salud en diferentes regiones del país, entre las cuales se destacan los departamentos
                        Del Valle del Cauca,Bolívar, Risaralda, Antioquia, Cauca, Huila, Córdoba, Nariño,
                        Quindío, Caldas, Cundinamarca, Sucre, Magdalena y Atlántico.</p>
 
                </div>
                <div class="alert alert-default" style="background: rgba(60, 178, 237, 0.2); margin-bottom: 0px;" >
                     <h4 class="alert-heading" style="font-size: 25px; font: oblique bold;"><b>POLÍTICA DE CALIDAD</b></h4>
                        <hr>
                        <p style="font-size: 16px;">La política de calidad de DUANA Y CIA LTDA, es contribuir al mejoramiento de la calidad de vida
                        de nuestros clientes a través del suministro oportuno de productos y servicios con excelentes
                        estándares de calidad; apoyados en el recurso humano comprometido y el mejoramiento continuo en los
                        procesos mediante el análisis de los riesgos y la generación de oportunidades. Consolidando nuestra
                        organización para mantener un alto nivel competitivo ante nuestras partes interesadas y el Mercado Nacional.</p>
 
                </div>
                    <div class="alert alert-default"  style="background: rgba(60, 178, 237, 0.2); margin-bottom: 0px;">
                     <h4 class="alert-heading" style="font-size: 25px; font: oblique bold;"><b>MISI&Oacute;N</b></h4>
                        <hr>
                        <p style="font-size: 16px;">Somos una organización conformada por un equipo humano competente y comprometido
                        a mejorar la calidad de vida de las personas proporcionando a nuestros clientes institucionales
                        y comerciales medicamentos, dispositivos médicos y servicios de dispensación con oportunidad,
                        costo racional y altos estándares de calidad.</p> 
                </div>
                    <div class="alert alert-default"  style="background: rgba(60, 178, 237, 0.2);  border-radius: 0px 0px 10px 10px ;">
                     <h4 class="alert-heading" style="font-size: 25px; font: oblique bold;"><b>VISI&Oacute;N</b></h4>
                        <hr>
                        <p style="font-size: 16px;">Nos proyectamos como la organización líder en el país en la prestación de
                        servicios de dispensación y comercialización de medicamentos y
                        dispositivos médicos reconocida por suministrar a nuestros clientes soluciones eficientes,
                        rentables y adaptada a sus necesidades.</p> 
                </div>


                
            </div><!---side cierra--->


        </div>  <!--CIERRA col-8-->

        <div class="col-sm-2 sidenav">
            <div class="row" style="heigth: 100%; padding:0;">
                <div *ngFor="let area of inicioModel" class="col-xs-12 col-sm-12 col-md-12">
                    <a class="list-group-item list-group-item-action active href-panel {{area.color}}" style="border-radius:10px 10px 0px 0px; ">{{area.nombreAreas}}</a>
                    <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 0px;" >
                        <div class="card">
                            <div class="card-body" >
                                <div>
                                    <img src="assets/images/fc.png" alt="Avatar" style="width:10%;"><b *ngFor="let item of area" >{{item.nombre}} EXT. {{item.extension}}<br></b>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <!--</div>-->

                </div>

            </div>
            <br>
            <br>
            <br>
            <h2><b>EMPRESAS ASOCIADAS</b></h2>
            <div style="height:200px;">
                <div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="1000" style="width: 100%; height:280px; transform: rotate(90deg);">
                    <ol class="carousel-indicators" >
                        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel1" data-slide-to="1"></li>
                        <li data-target="#myCarousel1" data-slide-to="2"></li>
                    
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active" >
                            <img  style="width: 300px; height: 100px;  transform: rotate(270deg); align-content: center;  " src="assets/images/asociadas/clicafe.png">
                        </div>
                        <div class="item">
                            <img  style="width: 300px; height: 100px; transform: rotate(270deg);" src="assets/images/asociadas/cosmitet.png">
                             </div>
                        <div class="item">
                            <img  style="width: 300px; height: 100px; transform: rotate(270deg);" src="assets/images/asociadas/duarquint.png">
                        </div>
                         <div class="item">
                            <img  style="width: 300px; height: 100px; transform: rotate(270deg);" src="assets/images/asociadas/dumian.png">
                        </div>
                        <div class="item">
                            <img  style="width: 300px; height: 100px; transform: rotate(270deg);" src="assets/images/asociadas/santaana.png">
                        </div>
                        <div class="item">
                            <img  style="width: 300px; height: 100px; transform: rotate(270deg);" src="assets/images/asociadas/sofiapa.png">
                        </div>
                       
                    </div>
                         <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div><!---my carrosuel-->
            </div>
        </div><!---cierra col-2--->


 

<div class="page-footer" style="background: #E1E1E1; ">
   
    <div class="row" >
        <br>
        <div class="col-lg-2" style=" right: : 150px;" >
             <img src="assets/images/CO.png" style="height: 100px; width: 120px; ">
        </div>
           

        <div class="col-lg-4  " style="font-size: 20px; font-family: bold; text-align: justify;" >
           Contacto
        <br>
            <ul class="list-unstyled">   
              
                <li>
                    <p>Tel: 4882020</p>
                </li>
                <li>
                    <p>Calle 9B No. 42 - 115 </p>
                </li>
                <li>
                    <p>Cambulos - Cali</p>
                </li>
            </ul>    

        </div>
      
    
    </div>
</div>
    </div>
</div>

